---
# OS Info
debian_codename: trixie
debian_version: stable

# Docker
docker_daemon_config:
  log-driver: "json-file"
  log-opts:
    max-size: "10m"
    max-file: "3"
  dns:
    - 1.1.1.1
    - 8.8.8.8

docker_stack_location: /home/docker-user
docker_main_user: docker-user
docker_main_group: docker-user

# Packages
docker_system_packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - virtualenv

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

docker_absent_packages:
  - docker.io
  - docker-compose
  - docker-doc
  - podman-docker
  - containerd
  - runc

# Users & Groups
users:
  - name: docker-user
    uid: 1002
    groups: 
      - sudo
      - docker
    shell: /bin/bash
    home: /home/docker-user
    create_home: yes
    comment: 'docker user'
    state: present
    authorized_keys:
      - a-public-key-to-allow-the-login

  - name: ansible_user
    uid: 1001
    groups:
      - sudo
    shell: /bin/bash
    home: /home/ansible_user
    create_home: yes
    comment: 'ansible user'
    state: present
    authorized_keys:
      - a-public-key-to-allow-the-login


